*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common css  */
.r4h-apex-blog-page section{
    padding-left: 32px;
    padding-right: 32px;
    background-color: #fff;
}
@media (max-width: 768px) {
    .r4h-apex-blog-page section{
        padding-left: 16px;
        padding-right: 16px;
    }
}
.r4h-apex-blog-page section .rh-content{
    max-width: 1472px;
    margin: 0 auto;
}
@media (max-width: 1024px) {
    .r4h-apex-blog-page section .rh-content{
        max-width: 768px;
    }
}
/* blog post common card start  */
.r4h-apex-blog-page section .rh-content .blog-post-card-rh{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .card-img-rh{
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .card-img-rh img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .info .author-date{
   display: flex;
   align-items: center;
   gap: 8px;
   font-size: 14px;
   line-height: 30px;
   font-weight: 600;
   font-family: "Open Sans", sans-serif;
   color: #838284;
   margin: 0 0 8px;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .info .author-date .author-name,
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .info .author-date .author-name span,
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .info .author-date .published-date,
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .info .author-date .published-date span{
    font-size: inherit;
   line-height: inherit;
   font-weight: inherit;
   font-family: inherit;
   color: inherit;
   margin: 0;
  
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .info .title-link a{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #18181b;
    margin: 0 0 8px;
    text-decoration: none;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .info .title-link a:hover{
    color: #00378b;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .info .title-link a span{
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: inherit;
    margin: 0;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
           line-clamp: 2;
   -webkit-box-orient: vertical;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .info .title-link a:hover svg path{
    stroke: #00378b;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .info .detail{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #434144;
    margin: 0 0 8px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
           line-clamp: 2;
   -webkit-box-orient: vertical;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .info .detail span{
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    margin: 0;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
           line-clamp: 2;
   -webkit-box-orient: vertical;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a{
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 9999px;
    background-color: rgba(128, 128, 128, 0.386);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #000;
    margin: 0;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
           line-clamp: 1;
   -webkit-box-orient: vertical;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:hover{
    background-color: rgba(128, 128, 128, 0.945);
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:nth-child(1){
    background-color: #eef2fe;
    color: #7677ed;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:nth-child(1):hover{
    background-color: #e0e7fe;
    color: #6960e4;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:nth-child(2){
    background-color: #f0fdf4;
    color: #23c666;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:nth-child(2):hover{
    background-color: #dcfce8;
    color: #17a451;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:nth-child(3){
    background-color: #fdf2f8;
    color: #ed55a3;
}
.r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:nth-child(3):hover{
    background-color: #fce7f3;
    color: #da1777;
}
@media (max-width: 768px) {
    .r4h-apex-blog-page section .rh-content .blog-post-card-rh{
        gap: 24px;
    }
    .r4h-apex-blog-page section .rh-content .blog-post-card-rh .blog-info-rh{
        height: 220px;
    }
    .r4h-apex-blog-page section .rh-content .blog-post-card-rh .card-img-rh{
        height: 200px;
    }
}
/* blog post common card end  */ 
/* hero section css  */
.r4h-apex-blog-page section.hero-rh .rh-content .hero-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.r4h-apex-blog-page section.hero-rh .rh-content .hero-container .text-part{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
} 
.r4h-apex-blog-page section.hero-rh .rh-content .hero-container .text-part h3.title{
    font-size: 48px;
    line-height: normal;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #18181b;
    margin: 0 0 24px;
} 
.r4h-apex-blog-page section.hero-rh .rh-content .hero-container .text-part p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #3f3f46;
    margin: 0;
} 
.r4h-apex-blog-page section.hero-rh .rh-content .hero-container .image{
    width: 50%;
    padding-top: 20px;
}
.r4h-apex-blog-page section.hero-rh .rh-content .hero-container .image img{
    width: 100%;
}
@media (max-width: 1024px){
    .r4h-apex-blog-page section.hero-rh .rh-content .hero-container .text-part h3.title{
        font-size: 20px;
        line-height: 30px;
        margin: 0 0 16px;
    } 
    .r4h-apex-blog-page section.hero-rh .rh-content .hero-container .text-part p{
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width: 768px){
    .r4h-apex-blog-page section.hero-rh .rh-content .hero-container .text-part{
        padding: 24px 16px;
        width: 70%;
    } 
    .r4h-apex-blog-page section.hero-rh .rh-content .hero-container .image{
        position: absolute;
        width: 80%;
        bottom: 0;
        right: 0;
        padding: 0;
        opacity: .3;
        z-index: 0;
    } 
    
}
/* hero section css end */



/* search bar section start */
.r4h-apex-blog-page section.search-links{
    background-color: #18181b;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    transition: all 0.5s linear;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links.active{ 
    width: 100%;
    height: fit-content;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links .linkss{ 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s linear;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links.active .linkss{ 
    width: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links .linkss a{ 
    padding: 16px;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links .search-blogs{
    display: flex;
    align-items: center;
    width: auto;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links.active .search-blogs{
    width: 100%;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links .search-blogs input.search-blogs-input{ 
   background: transparent;
   padding: 16px;
   color: #ffffff;
   border: none;
   outline: none;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   font-family: "Open Sans", sans-serif;
   width: 0;
   margin: 0;
   transition: all 0.5s ease;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links.active .search-blogs input.search-blogs-input{ 

   width: 100%;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links .search-blogs input.search-blogs-input::placeholder{ 
    font-family: "Open Sans", sans-serif;
   color: #5e7272;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links .search-blogs input.search-blogs-input:-webkit-autofill, 
.r4h-apex-blog-page section.search-links .rh-content .form-links .search-blogs input.search-blogs-input:-webkit-autofill:focus, 
.r4h-apex-blog-page section.search-links .rh-content .form-links .search-blogs input.search-blogs-input:-internal-autofill-selected {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links .search-toggle{
    padding: 16px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links .search-toggle svg.hidden{
    display: none;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links .search-toggle svg.block{
    display: block;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links.active .search-toggle svg.hidden{
    display: block !important;
}
.r4h-apex-blog-page section.search-links .rh-content .form-links.active .search-toggle svg.block{
    display: none;
}
@media (max-width: 768px) {
    .r4h-apex-blog-page section.search-links .rh-content .form-links .linkss a{ 
        padding: 10px;
        font-size: 12px;
        line-height: 20px;
    }
    .r4h-apex-blog-page section.search-links .rh-content .form-links .search-blogs input.search-blogs-input{ 
        padding: 10px;
        font-size: 12px;
        line-height: 20px;
     }
     .r4h-apex-blog-page section.search-links .rh-content .form-links .search-toggle{
        padding: 10px;
       
    }
}
/* search bar section end */




/* feature post start  */
.r4h-apex-blog-page section.features-post .rh-content h3.title{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #0f172a;
    margin: 0 0 32px; 
}
.r4h-apex-blog-page section.features-post > div{
    padding: 80px 0;
}
.r4h-apex-blog-page section.features-post .rh-content .featured-post-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
}
.r4h-apex-blog-page section.features-post .rh-content .featured-post-container .blog-post-card-rh{
    grid-row-end: span 2;
}

/* feature-post-card */
.r4h-apex-blog-page section .rh-content .feature-post-card{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .card-img-rh{
    max-width: 320px;
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .card-img-rh img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .info .author-date{
   display: flex;
   align-items: center;
   gap: 8px;
   font-size: 14px;
   line-height: 30px;
   font-weight: 600;
   font-family: "Open Sans", sans-serif;
   color: #838284;
   margin: 0 0 8px;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .info .author-date .author-name,
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .info .author-date .author-name span,
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .info .author-date .published-date,
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .info .author-date .published-date span{
    font-size: inherit;
   line-height: inherit;
   font-weight: inherit;
   font-family: inherit;
   color: inherit;
   margin: 0;
  
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .info .title-link a{

    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #18181b;
    margin: 0 0 8px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
            line-clamp: 1;
    -webkit-box-orient: vertical;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .info .title-link a:hover{
    color: #00378b;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .info .title-link a span{
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: inherit;
    margin: 0;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
           line-clamp: 1;
   -webkit-box-orient: vertical;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .info .detail{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #434144;
    margin: 0 0 8px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
           line-clamp: 2;
   -webkit-box-orient: vertical;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .info .detail span{
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    margin: 0;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
           line-clamp: 2;
   -webkit-box-orient: vertical;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .blog-tags-rh{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .blog-tags-rh a{
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 9999px;
    background-color: rgba(128, 128, 128, 0.386);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #000;
    margin: 0;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
           line-clamp: 1;
   -webkit-box-orient: vertical;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .blog-tags-rh a:hover{
    background-color: rgba(128, 128, 128, 0.945);
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .blog-tags-rh a:nth-child(1){
    background-color: #eef2fe;
    color: #7677ed;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .blog-tags-rh a:nth-child(1):hover{
    background-color: #e0e7fe;
    color: #6960e4;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .blog-tags-rh a:nth-child(2){
    background-color: #f0fdf4;
    color: #23c666;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .blog-tags-rh a:nth-child(2):hover{
    background-color: #dcfce8;
    color: #17a451;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .blog-tags-rh a:nth-child(3){
    background-color: #fdf2f8;
    color: #ed55a3;
}
.r4h-apex-blog-page section .rh-content .feature-post-card .blog-info-rh .blog-tags-rh a:nth-child(3):hover{
    background-color: #fce7f3;
    color: #da1777;
}
@media (max-width: 1024px) {
    .r4h-apex-blog-page section.features-post .rh-content .featured-post-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 32px;
    }
    .r4h-apex-blog-page section.features-post .rh-content .featured-post-container .blog-post-card-rh{
        grid-row: 1/3;
    }  
}
@media (max-width: 768px) {
    .r4h-apex-blog-page section.features-post .rh-content .featured-post-container .blog-post-card-rh{
        grid-row: 1/1;
    }  
    .r4h-apex-blog-page section .rh-content .feature-post-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }
    .r4h-apex-blog-page section .rh-content .feature-post-card .card-img-rh{
        max-width: none;
        width: 100%;
        height: 220px;
        overflow: hidden;
    }
}
/* feature post end  */




/* all blogs start */
.r4h-apex-blog-page section.all-blogs .rh-content h3.title{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #0f172a;
    margin: 0 0 32px; 
}
.r4h-apex-blog-page section.all-blogs > div{
    padding: 0 0 80px;
}
.r4h-apex-blog-page section.all-blogs .rh-content .all-blogs-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
@media (max-width: 1024px) {
    .r4h-apex-blog-page section.all-blogs .rh-content .all-blogs-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }  
}
@media (max-width: 768px) {
    .r4h-apex-blog-page section.all-blogs .rh-content .all-blogs-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
}
/* all blogs end */