/* common css  */
.r4h-apex-single-blog>section {
    padding-left: 32px;
    padding-right: 32px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .r4h-apex-single-blog>section {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.r4h-apex-single-blog>section .rh-content {
    max-width: 1472px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .r4h-apex-single-blog>section .rh-content {
        max-width: 768px;
    }
}

/* hero section css  */

.r4h-apex-single-blog section.hero-rh {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part .read-time-type {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #e6ebf3;
    border-radius: 9999px;
    padding: 4px 8px 4px 4px;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part .read-time-type a.cate {
    background-color: #fff;
    padding: 2px 8px;
    border-radius: 9999px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #00378b;
    text-decoration: none;
    text-transform: capitalize;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part .read-time-type span.timing {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #00378b;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part h3.title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #18181b;
    margin: 16px 0 24px;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part .excrpt>p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #3f3f46;
    margin: 0 0 48px;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part .author {
    display: flex;
    align-items: center;
    gap: 16px;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part .author .author-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 40px;
    width: 40px;
    border-radius: 9999px;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part .author .author-image span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part .author .author-name-date .name {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #1a171b;
    text-transform: capitalize;
    margin: 0;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part .author .author-name-date .date {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #4b5563;
    text-transform: capitalize;
    margin: 0;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .image {
    width: 50%;
    overflow: hidden;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .arrow-rh {
    display: block;
    height: 256px;
    width: 256px;
    position: absolute;
    top: 47%;
    left: 45%;
    z-index: 3;
}

.r4h-apex-single-blog section.hero-rh .rh-content .hero-container .arrow-rh img {
    height: 100%;
    width: 100%;
}

@media (max-width: 1535px) {
    .r4h-apex-single-blog section.hero-rh .rh-content .hero-container .arrow-rh {
        height: 192px;
        width: 192px;
    }
}

@media (max-width: 1024px) {
    .r4h-apex-single-blog section.hero-rh {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }

    .r4h-apex-single-blog section.hero-rh {
        background: linear-gradient(90deg, #335fa2b3, #00378bb3);
    }

    .r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part {
        width: 100%;
    }

    .r4h-apex-single-blog section.hero-rh .rh-content .hero-container .image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 0;
        opacity: .3;
        z-index: 0;
    }

    .r4h-apex-single-blog section.hero-rh .rh-content .hero-container .image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part h3.title {
        color: #fff;
    }

    .r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part .excrpt>p {
        color: #fff;
    }

    .r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part .author .author-name-date .name {
        font-size: 16px;
        line-height: 24px;
        color: #f6f6f6;
    }

    .r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part .author .author-name-date .date {
        color: #e1e1e1;
    }

    .r4h-apex-single-blog section.hero-rh .rh-content .hero-container .arrow-rh {
        display: none;
    }


}

@media (max-width: 768px) {
    .r4h-apex-single-blog section.hero-rh .rh-content .hero-container .text-part h3.title {
        font-size: 30px;
        line-height: 38px;
    }
}

/* hero section css end */

/* main section css  start */

@media (max-width: 991px) {
    .r4h-apex-single-blog section.main-section-rh .rh-content .main-container .contents-rh {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

}
.r4h-apex-single-blog section.main-section-rh .rh-content .main-container .contents-rh .editabl-contents p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #374151;
    margin: 0 0 20px;
}
.r4h-apex-single-blog section.main-section-rh .rh-content .main-container .contents-rh .editabl-contents h2{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #111827;
    margin: 0 0 24px;
}
.r4h-apex-single-blog section.main-section-rh .rh-content .main-container .contents-rh .editabl-contents h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #111827;
    margin: 0 0 20px;
}
.r4h-apex-single-blog section.main-section-rh .rh-content .main-container .contents-rh .editabl-contents ul{
    list-style-type: disc;
    padding-left: 20px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #374151;

}
.r4h-apex-single-blog section.main-section-rh .rh-content .main-container .contents-rh .editabl-contents ul li{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #374151;
    margin: 8px 0;
}
@media (min-width: 991px) {
    .r4h-apex-single-blog section.main-section-rh .rh-content .main-container .contents-rh .editabl-contents{
        max-width: 832px;
        margin: 0 auto;
    }

}

/* social buttons */
.r4h-apex-single-blog section.main-section-rh .rh-content .main-container .contents-rh>div>hr {
    border-color: rgb(237 237 237);
    margin-top: 0;
    margin-bottom: 32px;
}
.r4h-apex-single-blog .social-links-rh ul.socialicons.round li{
    margin-right: 10px;
}

.r4h-apex-single-blog .social-links-rh ul.socialicons.round li a{
    height: 39px;
    width: 39px;
    border: 1px solid #5c5a5d;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff !important;
    color: #5c5a5d !important;
    font-size: 22px;
    padding: 0;
    box-shadow: none;
}
.r4h-apex-single-blog .social-links-rh ul.socialicons.round li a.facebook:hover{
    height: 39px;
    width: 39px;
    border: 1px solid #2563eb;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff !important;
    color: #2563eb !important;
    font-size: 22px;
    padding: 0;
    box-shadow: none;
}
.r4h-apex-single-blog .social-links-rh ul.socialicons.round li a.twitter:hover{
    height: 39px;
    width: 39px;
    border: 1px solid #1a171b;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff !important;
    color: #1a171b !important;
    font-size: 22px;
    padding: 0;
    box-shadow: none;
}
.r4h-apex-single-blog .social-links-rh ul.socialicons.round li a.pinterest:hover{
    height: 39px;
    width: 39px;
    border: 1px solid #d04e4e;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff !important;
    color: #d04e4e !important;
    font-size: 22px;
    padding: 0;
    box-shadow: none;
}
.r4h-apex-single-blog .social-links-rh ul.socialicons.round li a.linkedin:hover{
    height: 39px;
    width: 39px;
    border: 1px solid #2563eb;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff !important;
    color: #2563eb !important;
    font-size: 22px;
    padding: 0;
    box-shadow: none;
}
.r4h-apex-single-blog .social-links-rh ul.socialicons.round li a i{
    color: inherit;
}
.r4h-apex-single-blog .social-links-rh .fa.fa-facebook:before{
    content: "\f09a";
}
.r4h-apex-single-blog .social-links-rh .fa.fa-twitter:before{
    content: "ð•";
}
/* main section css  end */


/* latest blog page start */
.r4h-apex-single-blog section.latest-section-rh {
    padding-bottom: 80px;
    padding-top: 40px;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .latest-blog-container .title-rh {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .latest-blog-container .title-rh .texts p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #00378b;
    margin: 0 0 12px;

}

.r4h-apex-single-blog section.latest-section-rh .rh-content .latest-blog-container .title-rh .btnn>a.view-blog {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 48px;
    border: 1px solid #00378b;
    width: 166px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    background: #00378b;
    border-radius: 2px;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .latest-blog-container .title-rh .btnn>a.view-blog:hover {
    background: #194a96;
    border: 1px solid #194a96;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .latest-blog-container .title-rh .texts h3 {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #1a171b;
    text-transform: capitalize;
    margin: 0 0 20px;

}

.r4h-apex-single-blog section.latest-section-rh .rh-content .latest-blog-container .title-rh .texts h6 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #434144;
    text-transform: capitalize;
    margin: 0px;

}

.r4h-apex-single-blog section.latest-section-rh .rh-content .all-blogs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

@media (max-width: 1024px) {
    .r4h-apex-single-blog section.latest-section-rh {
        padding-bottom: 40px;
    }

    .r4h-apex-single-blog section.latest-section-rh .rh-content .all-blogs-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
}

@media (max-width: 768px) {
    .r4h-apex-single-blog section.latest-section-rh .rh-content .all-blogs-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
}

/* blog post common card start  */
.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .card-img-rh {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .card-img-rh img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .info .author-date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #838284;
    margin: 0 0 8px;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .info .author-date .author-name,
.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .info .author-date .author-name span,
.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .info .author-date .published-date,
.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .info .author-date .published-date span {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    margin: 0;

}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .info .title-link a {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #18181b;
    margin: 0 0 8px;
    text-decoration: none;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .info .title-link a:hover {
    color: #00378b;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .info .title-link a span {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: inherit;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .info .title-link a:hover svg path {
    stroke: #00378b;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .info .detail {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #434144;
    margin: 0 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .info .detail span {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a {
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 9999px;
    background-color: rgba(128, 128, 128, 0.386);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #000;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:hover {
    background-color: rgba(128, 128, 128, 0.945);
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:nth-child(1) {
    background-color: #eef2fe;
    color: #7677ed;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:nth-child(1):hover {
    background-color: #e0e7fe;
    color: #6960e4;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:nth-child(2) {
    background-color: #f0fdf4;
    color: #23c666;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:nth-child(2):hover {
    background-color: #dcfce8;
    color: #17a451;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:nth-child(3) {
    background-color: #fdf2f8;
    color: #ed55a3;
}

.r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh .blog-tags-rh a:nth-child(3):hover {
    background-color: #fce7f3;
    color: #da1777;
}

@media (max-width: 768px) {
    .r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh {
        gap: 24px;
    }

    .r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .blog-info-rh {
        height: 220px;
    }

    .r4h-apex-single-blog section.latest-section-rh .rh-content .blog-post-card-rh .card-img-rh {
        height: 200px;
    }
}

/* blog post common card end  */
/* latest blog page end */